.product-container{
    max-width: 1600px;
    width: 70vw;
    height: 70vh;
    display: grid;
    grid-template-columns:1fr 1fr;
    background-color: black;
    border-radius: 1rem;
}
.view{
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    display: flex;
    flex-direction: column;
    margin-top: 3rem    ;
    justify-content: start;
    align-items: center ;
    padding: 2rem;
}
.img-container{
    width: 90%;
   object-fit: contain;
   justify-content: center;
}


.product{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
@media (max-width:1740px) {
        .sub-details{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
}
@media(max-width:980px){
    .product-container{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }
}
